*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/* mode start */

.importand{
    color: white !important;
    background-color: #0f1313 !important;
}
.importand nav a{
    color: white;
}

.importand nav{
    background: #0f1313;
}

/* end mode */


/* resposive nav */
.blankon{
    width: 100vw;
    height: 46vh;
}

/* end responsive nav */

/* nav bar section start */

nav{
    border: 1px solid black;
    width:100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    
    background:white;
}

nav a{
    text-decoration: none;
    color: rgb(59, 57, 57);
    font-weight: 600;
}

/* #linkc{
    color: white;
} */

nav span{
    font-size: 1.3rem;
    font-weight: bolder;
    /* border: 1px solid black; */
    width: 20%;
    text-align: center;
    
}
#logo img{
    width: 1.3rem;
    /* border: 1px solid black; */
    transform: translateY(5px);
    margin-right: 5px;
    
}
#menu{
    display: none;
}
.logocol{
    filter: invert();
}
.logocol2{
    filter: invert(0);
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* gap: 4rem; */
    align-items: center;
    width: 40%;
    /* border: 1px solid black; */
}
nav ul li{
    
     cursor: pointer;
    /* border: 1px solid black; */
}

@media only screen and (max-width: 1000px) {

    
    nav ul{
        gap: 1rem;
        width: 70%;
        
    }
    nav span{
        font-size: 1rem;
    }
    
    

  }

  @media only screen and (max-width: 600px) {
    nav {
      
      display: fixed;

    }
    nav ul{
        gap: 1rem;
        width: 70%;
        flex-direction: column;
        position: relative;
        gap: 5vh;
        top: 30vh;
        left: -20%;
        display: none;
    }
    nav .ullc{
        display: flex;

    }
    nav .men{
        translate: 65vw;
    }

    #menu{
        display: inline-block;
        cursor: pointer;
    }
    .blankon{
        width: 100vw;
        height: 48vh;
    }
    


  }


/* nav bar section ends */

/* carousel start */
.container{
    width: 100vw;
    height: 50vh;
    border: 1px solid black;
}
.carousels{
    width: 80vw;
    height: 40vh;
    margin: 3rem auto auto;
    overflow: hidden;
    position: relative;
}

.carousel{
    border: 1px solid black;
    width: 80vw;
    height: 40vh;

    
    display: flex;
    justify-content: space-between;

}
.carousel div{
    border: 1px solid black;
    width: 50%;
    height: 100%;
}
.image1{
    position: relative;
}

.image1 img{
    width: 50%;
    height: 90%;
    min-width: 300px;
    height: 250px;
    border: 1px solid black;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
     
}

.content1 h1{
    font-size: 3.5rem;

}
.content1 p{
    
    font-weight: 100;

}
.content1 button{
    background: #155739;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.content1{
    position: relative;
}
.content1 a{
    position: absolute;
    bottom: 0rem;
    /* left: 100%; */
    scroll-behavior: smooth;
    
    text-decoration: none;
}
.content2 a{
    scroll-behavior: smooth;
}

/* for 2nd silde section */
.carousel2{
    border: 1px solid black;
    width: 80vw;
    height: 40vh;
    position: absolute;
    top: 0;
    left: 100%;

    display: flex;
    justify-content: space-between;
    

}
.carousel2 div{
    border: 1px solid black;
    width: 50%;
    height: 100%;
}
.image2{
    position: relative;
}

.image2 img{
    width: 70%;
    height: 90%;
    min-width: 300px;
    height: 250px;
    border: 1px solid black;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
     
}

.content2 h2{
    font-weight: lighter;

}

.content2 h1{
    font-size: 3.5rem;

}
.content2 p{
    
    font-weight: 100;

}
.content2 button{
    background: #4dc529;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 1000px){
    .content1 h1{
        font-size: 2.5rem;
    
    }
}
@media only screen and (max-width: 600px){
    
    .container{
        height: 80vh;
    }
    .carousels{
        
        height: 60vh;
    }
    .carousel{
        flex-direction: column;
        height: 60vh;
    }
    .carousel div{
        width: 100%;
        height: 50%;
        text-align: center;

    }
    .image1 img{
        width: 60%;
        height: 100%;
    }
    .content1 h1{
        font-size: 2rem;
        text-align: center;
    }
    /* start of home 2 */
    .carousel2{
        flex-direction: column;
        height: 60vh;
    }
    .carousel2 div{
        width: 100%;
        height: 50%;
        text-align: center;

    }
    .image2 img{
        width: 60%;
        height: 100%;
    }
    .content2 h1{
        font-size: 2rem;
        text-align: center;
    }

}
