*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/* mode start */

.importand{
    color: white !important;
    background-color: #0f1313 !important;
}
.importand nav a{
    color: white;
}

.importand nav{
    background: #0f1313;
}

.importand .active{
    color: #155739;
    border-bottom: 2px solid #155739 ;
}
.importand .product-title button{
    background-color: #0f1313;
    color: white;
}
.importand .card img{
    filter: saturate(3);
}
/* end mode */


/* resposive nav */
.blankon{
    width: 100vw;
    height: 46vh;
}

/* end responsive nav */

/* nav bar section start */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
nav{
    border: 1px solid black;
    width:100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    
    background:white;
}

.active{
    color: #155739;
    border-bottom: 2px solid #155739 ;
}


nav a{
    text-decoration: none;
    color: rgb(59, 57, 57);
    font-weight: 600;
}

/* #linkc{
    color: white;
} */

nav span{
    font-size: 1.3rem;
    font-weight: bolder;
    /* border: 1px solid black; */
    width: 20%;
    text-align: center;
    
}
#logo img{
    width: 1.3rem;
    /* border: 1px solid black; */
    transform: translateY(5px);
    margin-right: 5px;
    
}
#menu{
    display: none;
}
.logocol{
    filter: invert();
}
.logocol2{
    filter: invert(0);
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* gap: 4rem; */
    align-items: center;
    width: 40%;
    /* border: 1px solid black; */
}
nav ul li{
    
     cursor: pointer;
    /* border: 1px solid black; */
}
.ullc a:hover{
    color: #155739;
}

@media only screen and (max-width: 1000px) {

    
    nav ul{
        gap: 1rem;
        width: 70%;
        
    }
    nav span{
        font-size: 1rem;
    }
    
    

  }

  @media only screen and (max-width: 600px) {
    nav {
      
      position: fixed;
      top: 0;
      left: 0;

    }
    nav ul{
        gap: 1rem;
        width: 70%;
        flex-direction: column;
        position: relative;
        gap: 5vh;
        top: 30vh;
        left: -20%;
        display: none;
    }
    .importand nav .ullc{
        background-color: #0f1313;

    }
    nav .ullc{
        display: flex;
        background-color: white;
        

    }
    
    nav .men{
        translate: 65vw;
    }

    #menu{
        display: inline-block;
        cursor: pointer;
    }
    .blankon{
        width: 100vw;
        height: 48vh;
    }
    
  }


/* nav bar section ends */

/* carousel start */
.container{
    width: 100vw;
    height: 50vh;
    border: 1px solid black;
}
.carousels{
    width: 80vw;
    height: 40vh;
    margin: 3rem auto auto;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.carousel{
    border: 1px solid black;
    width: 80vw;
    height: 40vh;

    
    display: flex;
    justify-content: space-between;

}
.carousel div{
    border: 1px solid black;
    width: 50%;
    height: 100%;
}
.image1{
    position: relative;
}

.image1 img{
    width: 50%;
    height: 90%;
    min-width: 350px;
    height: 250px;
    border: 1px solid black;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
     
}

.content1 h1{
    font-size: 3.5rem;

}
.content1 p{
    
    font-weight: 100;

}
.content1 button{
    background: #155739;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



/* for 2nd silde section */
.carousel2{
    border: 1px solid black;
    width: 80vw;
    height: 40vh;
    position: absolute;
    top: 0;
    left: 100%;

    display: flex;
    justify-content: space-between;
    

}
.carousel2 div{
    border: 1px solid black;
    width: 50%;
    height: 100%;
}
.image2{
    position: relative;
}

.image2 img{
    width: 70%;
    height: 90%;
    min-width: 300px;
    height: 250px;
    border: 1px solid black;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
     
}

.content2 h2{
    font-weight: lighter;

}

.content2 h1{
    font-size: 3.5rem;

}
.content2 p{
    
    font-weight: 100;

}
.content2 button{
    background: #4dc529;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 1200px){
    .content1 h1{
        font-size: 2.5rem;
    
    }
}

@media only screen and (max-width: 1000px){
    .content1 h1{
        font-size: 2rem;
    
    }
    .content1 p{
        font-size: 0.8rem;
    }
    .image1 img{
        min-width: 250px;
    }
    .content2 h1{
        font-size: 2.4rem;
    }
}
@media only screen and (max-width: 600px){
    
    .container{
        height: 80vh;
    }
    .carousels{
        
        height: 60vh;
    }
    .carousel{
        flex-direction: column;
        height: 60vh;
    }
    .carousel div{
        width: 100%;
        height: 50%;
        text-align: center;

    }
    .image1 img{
        width: 60%;
        height: 100%;
    }
    .content1 h1{
        font-size: 2rem;
        text-align: center;
    }
    .content1 p{
        font-size: 1rem;
    }
    .image1 img{
        min-width: 300px;
    }
    
    /* start of home 2 */
    .carousel2{
        flex-direction: column;
        height: 60vh;
    }
    .carousel2 div{
        width: 100%;
        height: 50%;
        text-align: center;

    }
    .image2 img{
        width: 60%;
        height: 100%;
    }
    .content2 h1{
        font-size: 2rem;
        text-align: center;
    }

}

/* end of carousel */

.space{
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
}

/* start of zoomimage */

.container2{
    width: 100vw;
    height: 60vh;
    border: 1px solid black;
}

.zoom{
    border: 1px solid black;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.zoom div{
    border: 1px solid black;
    width: 40vw;
    height: 100%;
}
.zoomimg{
    overflow: hidden;
}
.zoomimg img{
    width: 80%;
    height: 100%;
    border: 1px solid black;
    cursor: zoom-in;
    
}
.zoomin{
    min-width: 700px;
    min-height: 400px;
    object-fit: none;
    object-position: -5rem -10rem;
    cursor: zoom-out !important;
}

.zoomcontent h2{
    font-size: 3rem;
}

.zoomcontent ul{
   list-style-type: none;
}
.zoomcontent span{
    
    color: #155739;
    font-weight: bold;
    font-size: 1.3rem;
}

@media only screen and (max-width: 1000px){
    .zoom ul{
        text-align: left;
        font-size: 0.9rem;
    }
    .zoomcontent h2{
        font-size: 2rem;
    }
    .zoomcontent {
        font-size: 1rem;
    }
    .zoomin{
        min-width: 300px;
        min-height: 300px;
        object-fit: none;
        object-position: -10rem -10rem;
    }
}

@media only screen and (max-width: 600px){
    .container2{
        height: 80vh;
    }
    .zoom{
        height: 80vh;
        flex-direction: column;
    }
    .zoom div{
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .zoom ul{
        text-align: left;
        font-size: 0.9rem;
    }
    .zoomcontent h2{
        font-size: 1.5rem;
    }
    .zoomcontent {
        font-size: 1rem;
    }
    .zoomin{
        min-width: 300px;
        min-height: 300px;
        object-fit: none;
        object-position: -10rem -20rem;
    }
    
}

/* end of zoomimg */

/* start of product */
.container3{
    width: 100vw;
    
    border: 1px solid black;
}
.product-align{
    width: 80vw;
    margin: 0 auto;
    border: 1px solid black;
}
.product-title{
    text-align: center;
    border: 1px solid black;
}

.product-title h1{
    font-size: 2rem;
    display: inline;
    font-weight: bold;
}

.product-title hr{
    
    display: inline-block;
    color: #4dc529;
    width: 5vw;
    margin: 0.5rem;
    border: 1px solid ;
    
}

.product-title button{
    width: 5rem;
    height: 2rem;
    border: none;
    /* border: 0.5px thin rgb(143, 130, 130) ; */
    background-color: white;
    color: #383a37;
    border-radius: 5px;
}

.active2{
    border: 2px dotted #4dc529 !important;
    color: #4dc529 !important;
}
.card.hide{
    display: none;
}
.products{
    display: flex;
    margin-top: 30px;
    gap: 4rem;
    flex-wrap: wrap;
}
.card{
    flex-basis: 200px;
    border: 1px solid black;
    margin: 0 auto;
    
}

.card img{
    
    width: 100%;
    height: 70%;
    border: 1px solid black;
}
.card-content{
    border: 1px solid black;
}
.card-content h6{
    font-size: 1rem;
    margin-bottom: 5px;
}
.card-content p{
    color: #4dc529;
}
@media only screen and (max-width: 600px){
    .card{
        flex-basis: 300px;

    }
    .card img{
        width: 80%;
    }
    .products{
        text-align: center;
        flex-direction: column;
    }


}
/* end of product */